<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>改造品牌案例</title>
    <script src="lib/vue.js"></script>
    <script src="lib/vue-resource.js"></script>
    <style>
        #head_div{
            background-color: lightskyblue;
            height: 5%;
            font-family: Arial sans-serif;
        }
        table{
            width: 80%;
            height:30%;
        }
        table,td,th{
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div id="div">
        <div id="head_div">
            <!--PANEL--->
            <h3>添加品牌</h3>
        </div>
        <div>
            <label>Name:</label>
            <input type="text" value="" v-model="name">
            <input type="button" value="添加" @click="add()">
        </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>cTime</th>
                    <th>operation</th>
                </tr>
            </thead>
            <tbody v-for="item in list" :key="item.id">
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.cTime }}</td>
                    <td >
                        <a href="http://www.baidu.com" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var vm=new Vue({
            el:'#div',
            data:{
                name:'',
                list:[
                    {id:1,name:'张三',cTime:new Date()},
                    {id:2,name:'李四',cTime:new Date()},
                    ],
            },
            methods:{
                del(itemId){
                    /**因为服务器上的数据在开始的时候已经加载到this.list上了，所以删除的操作直接对list==对服务器数据的副本操作。
                     *
                     this.list.some((item,i)=> {
                        if(item.id==itemId){
                            this.list.splice(i,1)
                            //splice从数组中添加/删除项目,然后返回被删除的项目
                        }
                    })
                     console.log("我已经删除")
                     */
                    //如果：删除服务器上的数据？？how to do ?  直接调用服务器上的删除方法。 HOW???
                    this.$http.get('dataBase'+'?'+itemId).then(result=>{
                        if(result.body.status===0){
                            //成功回调
                            this.getAllList();
                        }else{
                            console.log('del删除失败')
                        }
                    })
                },
                add(){
                    //向服务器添加数据
                    this.$http.post('dataBase',{name:this.name},{emulateJSON:true}).then(function (result) {
                        var result=result.body
                        if(result.status===0){
                            var newObject={
                                "id": result.message.length+1,
                                "name": this.name,
                                "cTime": "2022-09-09"
                            }
                            result.message.push(newObject)
                            console.log(result.message)
                            //把新添加的数据刷新到页面上

                            this.getAllList();
                            this.name=''
                        }else{
                            console.log('失败回调',result);
                        }
                    })
                },
                getAllList(){
                    //获取服务器上的数据
                    this.$http.get('dataBase').then(function (result) {
                        var result=result.body
                        if(result.status===0){
                            this.list=result.message;
                            console.log('获取数据成功')
                        }
                    },function (result) {
                        console.log('失败回调',result);
                    })
                }
            },
            created(){
                this.getAllList();
            }
        })
    </script>
</body>
</html>
